body
{
background-color: white;
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
}
#container
{
  width: 1920px
  margin-left: auto;
  margin-right: auto;
  padding: 0;
   margin: 0;
}
#topmenu
{
  color:black;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 1920px;
  height: 125px;
  display: inline-block;

}
#zdjecie
{
  position: relative;
  bottom: 80px;
  padding: 0;
   margin: -4px;
}
#logo
{
    position: relative;
    bottom: 82px;
    height: 125px;

}
.option
{
  float:left;
  min-width: 50px;
  height: 50px;
  font-size: 24px;
  padding: 15px;
  position: relative;
  left: 1000px;
  top: 30px;

}
.option:hover
{
  cursor: pointer;
}
.option a
{
color:grey;
text-decoration: none;
}
.option:hover a
{
  color: black;
}
#footer
{
  color: white;
  text-align: center;
  background-color: black;
  width: 1920px;
  height: 25px;
  position: relative;
  top: 1500px;
}
#zdj1
{
  position: relative;
  left:500px;
}
